@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container p-5">
    <h3 class="dgreen-bg-color text-white text-center p-2 mb-3">@ViewData["Title"]</h3>

    <p>
        At Avans TooGoodToGo, we are committed to protecting your privacy and ensuring the security of your personal information. This privacy policy outlines how we collect, use, and safeguard your data when you interact with our website and services.
    </p>

    <h2>Information We Collect</h2>
    <p>
        We may collect personal information when you use our services, including but not limited to your name, email address, contact information, and other details required for registration and reservation purposes.
    </p>

    <h2>How We Use Your Information</h2>
    <p>
        Your information may be used to provide you with access to our services, process reservations, and improve our website and user experience. We may also use your information to communicate with you regarding your reservations and other service-related matters.
    </p>

    <h2>Security</h2>
    <p>
        We take data security seriously and implement various measures to protect your information. However, it's essential to remember that no method of data transmission over the internet is completely secure. While we strive to protect your data, we cannot guarantee its absolute security.
    </p>

    <h2>Updates to this Policy</h2>
    <p>
        We may update this privacy policy from time to time to reflect changes in our practices and services. We recommend checking this page periodically to stay informed about our privacy practices.
    </p>

    <p>
        If you have any questions or concerns regarding our privacy policy, please <a class="link" href="https://www.avans.nl/over-avans/contact-en-locaties">contact us</a>.
    </p>
</div>
